<footer>
    <a href="#" class="footer__logo">Prashant Singh</a>
  
    <ul class="permalinks">
      <li><a href="#">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#experience">Experience</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#portfolio">Portfolio</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  
    <div class="footer__socials">
      <a
        href="https://www.linkedin.com/in/prashant-singh-810522233/"
        target="_blank"
        rel="noreferrer"
      >
        <!-- <fa-icon [icon]="['fab', 'linkedin']"></fa-icon> -->
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="https://github.com/pprashantsingh" target="_blank" rel="noreferrer">
        <i class="fa-brands fa-github"></i>
      </a>
      <!-- <a href="https://leetcode.com/vijaysharmagpj65/" target="_blank" rel="noreferrer">
      </a>
      <a href="https://www.hackerrank.com/profile/vijaysharmagpj65" target="_blank" rel="noreferrer">
      </a> -->
    </div>
  
    <div class="footer__copyright">
      <small>&copy; Prashant. All right reserved</small>
    </div>
  </footer>
  