<header>
    <div class="container header_container">
      <h5>Hello I'm</h5>
      <h1>Prashant Singh</h1>
      <h5 class="text-light">Full Stack Developer</h5>
  
      <!-- Call-To-Action Buttons -->
      <app-cta></app-cta>
  
      <!-- Social Links -->
      <app-header-socail></app-header-socail>
  
      <div class="me">
        <img src="assets/profile.png" alt="Error-aaya-hai-bhai" />
      </div>
  
      <a href="#contact" class="scroll__down">Scroll Down</a>
    </div>
  </header>
  