<section id="about">
    <h5>Get To Know</h5>
    <h2>About Me</h2>
    <div class="container about__container">
      <div class="about__me">
        <div class="about__me-image">
          <img src="assets/me.jpg" alt="Error aaya bhai photo me" />
        </div>
      </div>
      <div class="about__content">
        <div class="about__cards">
          <article class="about__card">
            <!-- <fa-icon [icon]="['fas', 'award']" class="about__icon"></fa-icon> -->
            <h5>Experience</h5>
            <small>1.9 Year</small>
          </article>
  
          <article class="about__card">
            <!-- <fa-icon [icon]="['fas', 'users']" class="about__icon"></fa-icon> -->
            <h5>Company</h5>
            <small>Product Based</small>
          </article>
  
          <article class="about__card">
            <!-- <fa-icon [icon]="['fas', 'folder-open']" class="about__icon"></fa-icon> -->
            <h5>Projects</h5>
            <small>02</small>
          </article>
        </div>
        <p>
            My name is Prashant Singh, and I am currently working at 
            Sun Integrated Technology and Applications in New Delhi. 
            I have 1.9 years of experience as a Full Stack Developer,
             specializing in MEAN Stack development, and I am working 
             on various projects as a MEAN Stack Developer.
        </p>
        <a href="#contact" class="btn btn-primary">Let's Talk</a>
      </div>
    </div>
  </section>
  