<section id="experience">
    <h5>What Skills I Have</h5>
    <h2>My Experience</h2>
    <div class="container experience__container">
      <div class="experience__frontend">
        <h3>Frontend Development</h3>
        <div class="experience__content">
          <article class="experience__details">
            <i class="experience__details-icon" [ngClass]="'bi bi-patch-check-fill'"></i>
            <div>
              <h4>HTML</h4>
              <small class="text-light">Experience</small>
            </div>
          </article>
  
          <article class="experience__details">
            <i class="experience__details-icon" [ngClass]="'bi bi-patch-check-fill'"></i>
            <div>
              <h4>CSS</h4>
              <small class="text-light">Intermediate</small>
            </div>
          </article>
  
          <article class="experience__details">
            <i class="experience__details-icon" [ngClass]="'bi bi-patch-check-fill'"></i>
            <div>
              <h4>JavaScript</h4>
              <small class="text-light">Intermediate</small>
            </div>
          </article>
  
          <article class="experience__details">
            <i class="experience__details-icon" [ngClass]="'bi bi-patch-check-fill'"></i>
            <div>
              <h4>Angular</h4>
              <small class="text-light">Intermediate</small>
            </div>
          </article>

          <article class="experience__details">
            <i class="experience__details-icon" [ngClass]="'bi bi-patch-check-fill'"></i>
            <div>
              <h4>BootStrap</h4>
              <small class="text-light">Basic</small>
            </div>
          </article>

          <article class="experience__details">
            <i class="experience__details-icon" [ngClass]="'bi bi-patch-check-fill'"></i>
            <div>
              <h4>React</h4>
              <small class="text-light">Basic</small>
            </div>
          </article>
        </div>
      </div>
  
      <div class="experience__backend">
        <h3>Backend Development</h3>
        <div class="experience__content">
          <article class="experience__details">
            <i class="experience__details-icon" [ngClass]="'bi bi-patch-check-fill'"></i>
            <div>
              <h4>Node.js</h4>
              <small class="text-light">Intermediate</small>
            </div>
          </article>
          <article class="experience__details">
            <i class="experience__details-icon" [ngClass]="'bi bi-patch-check-fill'"></i>
            <div>
              <h4>Expresss.js</h4>
              <small class="text-light">Intermediate</small>
            </div>
          </article>
  
          <article class="experience__details">
            <i class="experience__details-icon" [ngClass]="'bi bi-patch-check-fill'"></i>
            <div>
              <h4>MongoDB</h4>
              <small class="text-light">Intermediate</small>
            </div>
          </article>
          <article class="experience__details">
            <i class="experience__details-icon" [ngClass]="'bi bi-patch-check-fill'"></i>
            <div>
              <h4>SQL</h4>
              <small class="text-light">Basic</small>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
  