<section id="services">
    <h5>What I Offer</h5>
    <h2>Services</h2>
  
    <div class="container services__container">
  
      <article class="service">
        <div class="service__head">
          <h3>Frontend Services</h3>
        </div>
        <ul class="service__list">
          <li>
            <i class="service__list-icon" aria-hidden="true"></i>
            <p>Dynamic UI Development</p>
          </li>
  
          <li>
            <i class="service__list-icon" aria-hidden="true"></i>
            <p>Component-Based Architecture</p>
          </li>
  
          <li>
            <i class="service__list-icon" aria-hidden="true"></i>
            <p>Responsive Design</p>
          </li>
  
          <li>
            <i class="service__list-icon" aria-hidden="true"></i>
            <p>State Management</p>
          </li>
  
          <li>
            <i class="service__list-icon" aria-hidden="true"></i>
            <p>Client-Side Routing</p>
          </li>
  
          <li>
            <i class="service__list-icon" aria-hidden="true"></i>
            <p>Form Handling</p>
          </li>
  
          <li>
            <i class="service__list-icon" aria-hidden="true"></i>
            <p>Third-Party Library Integration</p>
          </li>
          <li>
            <i class="service__list-icon" aria-hidden="true"></i>
            <p>Frontend Optimization</p>
          </li>
        </ul>
      </article>
  
      <article class="service">
        <div class="service__head">
          <h3>Backend Services</h3>
        </div>
        <ul class="service__list">
          <li>
            <i class="service__list-icon" aria-hidden="true"></i>
            <p>RESTful API Development</p>
          </li>
  
          <li>
            <i class="service__list-icon" aria-hidden="true"></i>
            <p>Server-Side Logic Implementation</p>
          </li>
  
          <li>
            <i class="service__list-icon" aria-hidden="true"></i>
            <p>Database Integration</p>
          </li>
  
          <li>
            <i class="service__list-icon" aria-hidden="true"></i>
            <p>Authentication and Authorization</p>
          </li>
  
          <li>
            <i class="service__list-icon" aria-hidden="true"></i>
            <p>Real-Time Communication</p>
          </li>
  
          <li>
            <i class="service__list-icon" aria-hidden="true"></i>
            <p>Middleware Development</p>
          </li>
          <li>
            <i class="service__list-icon" aria-hidden="true"></i>
            <p>Scalability and Performance Optimization</p>
          </li>
          <li>
            <i class="service__list-icon" aria-hidden="true"></i>
            <p>Integration with Third-Party Services</p>
          </li>
          <li>
            <i class="service__list-icon" aria-hidden="true"></i>
            <p>Testing and Deployment</p>
          </li>
        </ul>
      </article>
    </div>
  </section>
  